body {
  margin: 1vh;
}

.screen {
  height: 98vh;
  display: flex;
  flex-direction: column;
}

.top-bar {
  display: flex;
  border: 1px solid black;
}

.top-bar h2 {
  margin: 1px;
  padding: 1px;
}

.board {
  display: flex;
  flex-grow: 1;
  min-height: 0; /* Allows flexbox to be smaller than its container */
}

.card-container {
  display: flex;
  width: 19vw;
  min-width: 4cm;
  max-width: 6cm;
  flex-direction: column;
}

.card-list-header {
  border: 3px solid black;
  padding: 5px;
  text-align: center;
  /*max-height: 10%;*/
}

.card-list {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-y: scroll;
  border: 2px solid black;
}

.card {
  border: 1px solid black;
  border-radius: 25px;
  width: 90%;
  margin: auto;
  padding: 5px;
}

.card-drop-area {
    margin: 0px;
    padding-top: 5px;
}

.card-container:not(:last-child) {
  margin-right: 10px;
}

.card-title {
  margin-top: 5px;
  margin-bottom: 5px;
  overflow-wrap: break-word;
}

.card-add-button {
  height: 30px;
}

.board-picker {
  margin-left: auto;
}

.card-tags {
  display: flex;
}

.card-tag {
  border: 1px solid black;
  border-radius: 10px;
  margin: 2px;
  padding: 2px;
}